@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-off-white: #ececec;
  --color-black: #000000;
  --color-blue: #367d91;
  --color-green: #2f8375;
  --color-red: #cf1b46;

  /* space and text scales based on @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.48rem + 0.11vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --space-m: clamp(1.5rem, calc(1.43rem + 0.33vw), 1.69rem);
  --space-l: clamp(2rem, calc(1.91rem + 0.43vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.87rem + 0.65vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.83rem + 0.87vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.74rem + 1.3vw), 6.75rem);

  --text--2: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
  --text--1: clamp(0.83rem, calc(0.81rem + 0.12vw), 0.9rem);
  --text-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --text-1: clamp(1.2rem, calc(1.13rem + 0.36vw), 1.41rem);
  --text-2: clamp(1.44rem, calc(1.33rem + 0.55vw), 1.76rem);
  --text-3: clamp(1.73rem, calc(1.56rem + 0.82vw), 2.2rem);
  --text-4: clamp(2.07rem, calc(1.84rem + 1.17vw), 2.75rem);
  --text-5: clamp(2.49rem, calc(2.16rem + 1.64vw), 3.43rem);
}

/* Loosely based on a CSS reset taken from - https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  color: var(--color-black);
  background: var(--color-white);
  font-family:
    Rubik,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

fieldset {
  border: 0;
}

p + p {
  margin-top: 1em;
}

/* have link and buttons be indistinguishable */
a,
button {
  color: inherit;
  cursor: pointer;
}

a {
  color: var(--color-black);
  text-decoration: underline;
  font-weight: 700;
}

button {
  border: none;
  background: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
  color: var(--color-blue);
  transition: all 0.2s ease;
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#app {
  height: 100%;
}